/* TAILWIND ELEMENT SELECTORS */

/* https://tailwindcss.com/docs/adding-custom-styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    margin: 10px 0;
}

p {
    padding: 50px 0 10px 10px;
};



button {
    padding: 0 20px;
}


module.exports = {
    theme: {
        screen: {
            sm: '480px',
            md: '768px',
            lg: '976px',
        }
     

    },
}

.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}